/*Global*/

body{
    background-color:lightblue; 
 
    
    
}
/*Container*/
.container{
    width:80%;
    background: chartreuse;
    margin: 20px auto 20px auto;
}

/*Header*/
.header {
    width: 1000px;
    margin: 10px auto 10px auto;
    padding: 5px;
    border: yellow 4px double;
    text-align: center;
    min-width: 300px;
    box-sizing:border-box;
    min-height:200px;
}


/*Main*/




/*Footer*/